{{> header}}
<div id="edit-popup">
  <form id="edit-poem-form">
  </form>
</div>
<div id="popup-overlay">
</div>
  <div class=" row">
    <section class="col s12 m4 13" id="admin-side-panel">
      <div id="admin-side-panel__header">
        <h3>Welcome Admin</h3>
      </div>
      <div id="admin-side-section-buttons">
        <nav>
          <ul>
            <li>View Poems</li>
            <li>Add new Poem</li>
            <li>View Messages</li>
          </ul>
        </nav>
      </div>
    </section>
    <section class="col s12 m8 19">
      <div class="admin-main-section__section" id="admin-main-section-view-poems">
        <table class="bordered" id="admin-poems-table">
          <thead>
            <tr>
              <th>
                <div class="admin-main-section-table-head-divs"><p>Poem Title</p></div>
              </th>
              <th>
                <div class="admin-main-section-table-head-divs"><p>Poem Body</p></div>
              </th>
              <th>
                <div class="admin-main-section-table-head-divs"><p>Section</p></div>
              </th>
              <th>
                <div class="admin-main-section-table-head-divs"><p>Is it Active?</p></div>
              </th>
              <th>
                <div class="admin-main-section-table-head-divs"><p>Edit?</p></div>
              </th>
            </tr>
          </thead>
          <tbody id="table-body-poems"></tbody>
        </table>
      </div>
      <div class="admin-main-section__section" id="admin-main-section-add-poem">
        <form id="new-poem-form">
            <input name="title" autofocus type="text" placeholder="Title"/>
            <select id="poem-cat-sel" name='category-select'>
                <option value="original-select" disabled selected>Select Your Category</option>
            </select>
              <p>
                <input name="is-active" type="checkbox" id="test5" />
                <label for="test5">Make Active</label>
              </p>
            <textarea id="textarea1" class="materialize-textarea" name="poem" placeholder="Poems"></textarea>
            <!-- <div class="file-field input-field">
              <image scr="https://i.pinimg.com/736x/1b/50/54/1b505457e679070d28f28afc02489cc8--coyote-silhouette-howling-wolf-silhouette.jpg" id=""/>
              <div class="btn">
                <span>Select Image</span>
                <input name="image-upload" type="file" id="poem-image-siofu_input">
              </div> -->
              <!-- <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>-->
            <button id="poem-submit-button" class="btn waves-effect waves-light" type="submit" name="action">Submit Poem<i class="material-icons right"></i></button>
        </form>
      </div>
      <div class="admin-main-section__section" id="admin-main-section-messages">
      </div>
    </section>
  </div>
<script id="poem-cat-sel-temp" type="text/template">
    <option id="{{id}}">{{text}}</option>
</script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/libs/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="/js/libs/mustache.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{{> footer}}
